apiVersion: v1
kind: Service
metadata:
  name: devops-demo-service
  labels:
    app: devops-demo
spec:
  type: NodePort
  
  selector:
    app: devops-demo
  
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 30080